
*{
    font-size: 62.5%;
  }
  
.navbar{
    background-color: rgba(230, 224, 224, 0.19);
    width: 80%;
    margin: 0 auto;
    max-height: 30vh;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
}
.header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.left-container{
    width: 50%;
    flex: 1 1 40;
    position: relative;

    
    

}
.left-container > img{
    width: 200px;
    
    padding: 3rem;


}
.right-container{
    width: 50%;
    
    flex: 1 1 40;
    position: relative;
   
    

   


}
.log-buttons{
    width: 100%;
    
    
    padding-left: 1rem;
    padding-right: 3rem;
    display: flex;
    padding: 0.8rem;
    justify-content: space-around;
    position: relative;
     top: 2rem;
    

    

}
.buttonstyle{
    
    margin: 0.5rem;
    border: none;
    background-color:transparent ;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87); 
    cursor: pointer;
    transition-duration: 0.8s;
    
   
}
.buttonstyle:hover{
    background-color: rgba(211, 211, 211, 0.37);
    
}
.log-buttons button:nth-child(1){
    background-color: #4e86a2;
    color: white;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    
    position: relative;
    
}
.log-buttons button:nth-child(7){
    position: absolute;
    bottom: 4rem;
    right: 2.5rem;
    background-color: #4e86a2;
    color: white;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    transition-duration: 1s;
    
}
 .log-buttons button:active:nth-child(1){
    opacity: 0.3;
    
    
}
.log-buttons button:active:nth-child(7){
    opacity: 0.3;
    
}